@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TypeScript</h1>
    <p class="lead">Practice of TypeScript from PluralSight</p>
    <p><a href="https://app.pluralsight.com/library/courses/typescript/table-of-contents" class="btn btn-primary btn-lg">PluralSight &raquo;</a></p>
</div>

<div class="row">
    <h1>TypeScript Modules</h1>

    <div id="content">
        <ul>
            <li><a href="~/Modules/internalimplicit">Internal Modules - Implicitly in Global Namespace</a></li>
            <li><a href="~/Modules/InternalModule">Internal Modules - Named</a></li>
            <li><a href="~/Views/Modules/04-03-internal-extended.html">Internal Modules Extended within Same File</a></li>
            <li><a href="~/Views/Modules/04-04-internal-across-files.html">Internal Modules Across Multiple Files</a></li>
            <li><a href="~/Views/Modules/04-05-external-starter.html">Preparing for External Modules</a></li>
        </ul>
    </div>
</div>